@tailwind base;
@tailwind components;
@tailwind utilities;

.pokemon-card-grid {
  display: grid;
  grid-template-rows: 1fr max-content;
}

.pokemon-card-grid-with-author {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}
